<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Grievance</title><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

</head>
<body>
<div th:include="fragments/index-header :: header"></div>
<div th:include="fragments/user-nav :: user-nav"></div>
 <div class="container mt-4">
        <h3 class="mb-4">Edit Grievance</h3>
        <form th:action="@{'/edit-grievance/' + ${grievance.id}}" method="post">
           <div class="form-group">
    <label for="type">Type:</label>
    <select class="form-control" id="type" th:field="${grievance.type}">
        <option value="Academic">Academic</option>
        <option value="Non Academic">Non-Academic</option>
        <!-- Add more options as needed -->
    </select>
</div>


            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" th:field="${grievance.title}" id="title" />
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" th:field="${grievance.description}" id="description"></textarea>
            </div>
 <div class="form-group">
                <label for="attachments">Attachments (Optional)<br>
    <span  class="text-danger">Pdf file only allowed(Max file size:5MB)</span></label>
                <input type="file" class="form-control-file" id="attachments" name="attachments" accept=".pdf">
                 <div th:if="${grievance.attachments != null}">
        <p>Current Attachment: <a th:href="@{'/download-attachment/' + ${grievance.id}}">View</a></p>
    </div>
     
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>