@charset "ISO-8859-1";
.back-img {
    background-image: url("student.png");
    background-repeat: no-repeat;
    background-position:center;
    }

.btn-warning {
	
    margin-top: 5px;
    margin-right: 20px;
    font-size: large;
    /* Remove alignItems property as it is not applicable to buttons */
}
.btn-warning a{
	text-decoration: none;
	 color: inherit;
	
}
.btn-warning a:visited
{
	color: inherit;
}
/* Glass Container */
    .glass-container {
        background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('your-background-image.jpg');
        background-size: cover;
        background-position: center;
        height: 80vh;  
    }