<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Grievance Portal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
   <div th:fragment="header">
    <div class="container-fluid bg-dark text-center text-white py-4">
        <h1 class="display-6">
            <a th:href="@{/}" class="text-white text-decoration-none">STUDENT GRIEVANCE PORTAL</a>
        </h1>
        <p class="lead">Besant Technologies, Velachery, Chennai</p>
    </div>
</div>

</body>
</html>